/* NAVBAR */
.navbar a {
    color: #00ace6;
}

/* JOMBOTRON */
.jumbotron {
    text-align: center;
    padding: 10px;
}

/* ABOUT ME */
.col-sm-6 {
    padding-right: 30px;
    text-align: justify;
    margin-bottom: 50px;
}

.col-sm-6 img {
    width: 350px;
    display: block;
    padding-left: 30px;
}

/* PROJECTS */
.col-sm-4 {
    padding: 10px;
}

.btn {
    background-color: #eee;
    color: #00ace6
}

/* FOOTER */
footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color:  #00ace6;
}

a:hover {
    text-decoration: underline;
}
